* {
  padding: 0;
  margin: 0;
   
}


/*****************************************************************/
/*********************   CUERPO DE PAGINA ***********************/
/*****************************************************************/

body {
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.logo {
  font-family: 'Sacramento', cursive;  
  font-size: 40px; 
}


/*****************************************************************/
/*********************    INDEX     *****************************/
/*****************************************************************/

.carousel {
  margin-top: 86px;
}

.nombre {
  font-size: 90px;
  font-family: 'Sacramento', cursive;
  color: #000;
  margin: 40px;
}

.flex-container h2 {
  background: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  text-decoration: none;
  text-align: center;
  font-family: 'Sacramento', cursive;
  color: rgb(87, 94, 79);
  margin: 2%; 
}

.flex-container div a {
  text-decoration: none; 
}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box:hover {
  transform:scale(1.2);
  transition: all 1s;
}

.comentario {
  text-align: center;
  font-family: 'Sacramento', cursive;
  margin: 2%;
  font-size: 50px;
  color: rgb(95, 111, 99);
}

.comentarioParte {
  text-align: center;
  font-family: 'Sacramento', cursive;
}

.dos {
  background-color: #000;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  border-width: 9px;
}

.dos a {
  color:#e6dee9;
  text-decoration: none;
  gap: 90px;
}

/*****************************************************************/
/*********************    SOBRE MI   *****************************/
/*****************************************************************/
.cuatroPartes {
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  color: rgb(97, 114, 97);
  margin: 10%;
}

.imagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imagenOculta{
  display: none;
}


.texto {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-family: 'Sacramento', cursive;
  text-align: center;
  margin: 7px;
}

/*****************************************************************/
/*********************      BLOG      *****************************/
/*****************************************************************/

.brochas {
  border: 2px solid rgb(255, 76, 207);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
  Geneva, Verdana, sans-serif;
}

.brochas h2 {
  font-size: 45px;
  text-align: center;
  font-family: 'Sacramento', cursive;
  margin: 3%;
}

.brochas section {
  display: flex;
  justify-content: space-around;
}

.limpieza ul {
  display: flex;
  flex-direction: column;
  margin: 2%;
  font-size: 19px;
  color: rgb(58, 75, 58);
}

.fotoOcultaDeskop {
  display: none;
}
/*****************************************************************/
/*********************   CONTACTO  *******************************/
/*****************************************************************/

.enviarMensaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  font-size: 60px;
  font-family: 'Sacramento', cursive;
  color:  rgb(100, 109, 99);
  text-align: center;
  margin: 4%;
}
.fotoContacto {
  display: flex;
  justify-content: center;
}

/*****************************************************************/
/*********************      FOOTER    ****************************/
/*****************************************************************/

footer h3, h1 {
  font-size: 60px;
  font-family: 'Sacramento', cursive;
  color:  rgb(100, 109, 99);
  text-align: center;
  margin: 3%;
}

.formularioUno {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: none;
  text-align: center;
  margin: 30px; 
}

.formularioUno input {
  width: 900px;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 40px;
}

/*****************************************************************/
/*********************         MEDIA          ********************/
/*****************************************************************/



@media screen and (max-width: 480px) {
  
  

  /******** INDEX *******/
 
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imagenResponsive {
    max-width: 300px;
    max-height: 300px;
    margin-left: 80px;
  }
  .comentario {
    font-size: 30px;
  }
  .box {
    max-width: 200px;
    margin-left: 120px;
  }
  .dos {
    border-style: none;
  }
  .dos a {
    margin:10px;
  }
  .formularioUno input {
    max-width: 450px;
  }

 /************** SOBRE MI **********/

  .cuatroPartes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .texto {
    font-size: 30px;
  }
  .imagen{
    margin-right: 70px;
  }
   
  /************** Blog *************/
  
  .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imagenOcultaMobile {
    display: none !important ;
  }
  .fotoOcultaDeskop {
    display: flex;
  }

  /*********** CONTACTO ********/
  
  .enviarMensaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imagenContacto {
    margin: 3%;
  }
}